body {
  max-width: 1920px;
}

.order {
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 0;

  border: 10px solid $border-color;
}

.order__header-wrapper {
  display: flex;
  align-items: center;
  width: 90vw;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  padding-right: 1vw;
}

.order__help-info {
  margin-right: 20px;
}

.order__title {
  position: relative;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 25px;

  font-style: bold;
  font-size: 20px;
  line-height: 24px;
  color: black;

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 10px;
    height: 10px;

    border: 2px solid $border-color;
    border-top-color: transparent;
    border-left-color: transparent;

    transform: rotate(45deg);
  }
}

.order__table-wrapper {
  display: flex;
  width: 92vw;
  height: 75vh;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1vw;

  overflow: auto;

  &::after {
    content: "";
    position: fixed;
    right: 3.2vw;
    top: 140px;
    width: 2vw;
    height:75vh;

    background-color: $bg-color;

    transition-duration: 2s;
  }

  &:hover::after {
    opacity: 0;
  }
}

.order__table {
  width: 45vw;
  max-width: 1900px;
  height: 100vh;
  table-layout: fixed;

  border-collapse: collapse;

  overflow: auto;
}

.order__thead {
  position: fixed;
  width: 45vw;
  top: 100px;

  font-weight: bolder;
  font-style: italic;
  font-size: $thead-fsz;
  line-height: 20px;
  color: $thead-color;

  background-color: $bg-color;

  border: 1px solid $border-color;
}

.order__header-row {
  display: flex;
}

.order__tbody {
  display: block;
  width: 45vw;
  border: 1px solid $border-color;
}

.order__tr {
  &:hover {
    opacity: 0.5;
  }
}

.order__td {
  width: 12.5%;
  padding: 7px 10px;

  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;

  &--header {
    padding: 12px 10px;
    flex-grow: 4;

    text-align: center;
  }

  &:first-child {
    text-align-last: left;
  }

  &:last-child {
    text-align: right;
  }

  &--total {
    flex-grow: 13;
  }

  &--amount {
    flex-grow: 8;
  }

  &--price {
    flex-grow: 4;
  }
}
