boby {
  min-width: 900px;
  padding: 0 20px;

  font-weight: normal;
  font-size: $primery-fsz;
  line-height: 16px;
  font-family: Arial, sans-serif;
  color: $primery-color;

  background-color: $bg-color;

  outline: 1px solid red;
}
